<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.todolist"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/tasksicon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity_NewTask"
            android:label="@string/title_activity_activity__new_task" >
        </activity>
        <activity
            android:name=".Activity_CompletedTasks"
            android:label="@string/title_activity_activity__completed_tasks" >
        </activity>
        <activity
            android:name=".Activity_new_task_LF"
            android:label="@string/title_activity_activity_new_task__lf" >
        </activity>
    </application>

</manifest>
